/* ── Módulo: Accesos ── */
.mod-accesos {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mod-accesos .empty-state span {
    font-size: var(--font-xs);
    color: var(--color-text-light);
}
