/* ── Módulo: Calendario ── */
.mod-calendario {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mod-calendario .empty-state span {
    font-size: var(--font-xs);
    color: var(--color-text-light);
}
