/* ── Módulo: C&aacute;mara ── */
.mod-camara {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mod-camara .empty-state span {
    font-size: var(--font-xs);
    color: var(--color-text-light);
}
