/* ── Módulo: People Experience ── */
.mod-people-experience {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mod-people-experience .empty-state span {
    font-size: var(--font-xs);
    color: var(--color-text-light);
}
